.destinations .item header {
    display: block;
    background-color: transparent;
    padding: 0;
    position: static;
    margin-bottom: 24px;
}

.destinations .item p {
    font-size: 20px;
    font-weight: var(--text-weight);
}

.destinations-itens {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 24px;
}

.destinations-itens header h4 {
    font-size: 28px;
    font-weight: var(--title-weight);
}

.destinations-itens p {
    font-size: 20px;
    font-weight: var(--text-weight);
    width: 100%;
}

.destinations-itens footer .button {
    margin-top: 24px;
    border-radius: 8px;
    width: 100%;
}

.destinations-itens a {
    font-size: 20px;
    font-weight: var(--title-weight);
    align-items: center;
    text-align: center;
}

.destinations .item header .img-item-tokyo {
    width: 100%;
    height: 360px;
    background-image: url(../img/tokyo-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.destinations .item header .img-item-osaka {
    width: 100%;
    height: 360px;
    background-image: url(../img/osaka-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .destinations-itens {
        padding: 40px;
        gap: 48px;
    }
    .destinations .item header .img-item-tokyo {
        height: 480px;
        background-image: url(../img/tokyo-tablet-desktop.jpg);
    }

    .destinations .item header .img-item-osaka {
        height: 480px;
        background-image: url(../img/osaka-tablet-desktop.jpg);
    }

    .destinations-itens footer .button {
        width: 280px;
    }
    
}

@media screen and (min-width: 1024px) {
    .destinations-itens {
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 20px;
        gap: 24px;
    }
    
    .destinations .item header .img-item-tokyo {
        height: 360px;
        width: 100%;
        background-image: url(../img/tokyo-tablet-desktop.jpg);
    }

    .destinations .item header .img-item-osaka {
        height: 360px;
        width: 100%;
        background-image: url(../img/osaka-tablet-desktop.jpg);
    }
}

@media screen and (min-width: 1440px) {
    .destinations-itens {
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 40px;
        gap: 24px;
    }
    
    .destinations .item header .img-item-tokyo {
        height: 360px;
        width: 100%;
        background-image: url(../img/tokyo-tablet-desktop.jpg);
    }

    .destinations .item header .img-item-osaka {
        height: 360px;
        width: 100%;
        background-image: url(../img/osaka-tablet-desktop.jpg);
    }
}

@media screen and (min-width: 1920px) {
    .destinations-itens {
        flex-direction: row;
        justify-content: space-between;
        padding: 40px px;
        gap: 24px;
    }
    
    .destinations .item header .img-item-tokyo {
        height: 452px;
        width: 588px;
        background-image: url(../img/tokyo-tablet-desktop.jpg);
    }

    .destinations .item header .img-item-osaka {
        height: 452px;
        width: 588px;
        background-image: url(../img/osaka-tablet-desktop.jpg);
    }
}