@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body,
img,
h1,
p,
fieldset,
input,
button,
select,
textarea,
legend {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--title-weight);
  color: var(--primary-color);
}
body {
  background-color: var(--background-primary-color);
  font-family: "Montserrat", sans-serif;
}


