header{
    height: 138px;
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
    position: relative;
}
.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
}

.navigation-menu{
    margin-top: 24px;
}
input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}
.list-links{
    list-style: none;
}

.list-links li{
    margin-bottom: 16px;
}
.list-links li a{
    color: var(--text-secondary-color);

}

nav{
    display: none;
}