.hero-img{
    height: 400px;
    width: 100%;
    background-image: url('../img/hero-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h2{
    padding: 88px 24px;
    margin: 0px;
    font-weight: var(--text-height);
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
    color: var(--text-primary-color);
}

@media screen and (min-width: 768px){
    .hero-img{
        height: 620px;
        background-image: url('../img/hero-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero h2{
    padding: 88px 60px;
    font-size: 32px;
    }
}

@media screen and (min-width: 1024px) {
    .hero-img{
        background-image: url('../img/hero-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero h2{
    padding: 88px 120px;
    font-size: 36px;
    }
    
}

@media screen and (min-width: 1920px) {
    .hero h2{
    padding: 88px 160px;
    font-size: 36px;
    }
    
}