.card{
    color: var(--text-secondary-color);
    width: 312px;
    height: 288px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    padding: 24px 16px;
    background-size: cover;
    background-color: black;
}
.card header{
    display: block;
    position: static;    
    background-color: transparent;
    padding: 0;
    margin-bottom: 24px;
}
.card header p{
    font-size: 20px;
    font-weight: var(--text-weight);
}

.card header h3{
    font-size: 40px;
    font-weight: var(--title-weight);
    margin-top: 8px 0 0;
}

.card header span{
    font-size: 32px;
    margin-top: 24px;
    display: inline-block;    
}