.offers-cards{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.card {
    color: var(--text-secondary-color);
    background-color: black;
    width: 312px;
    height: 288px;
    box-sizing: border-box;
    padding: 24px 16px;
    border-radius: 16px;
    text-align: center;
}
.card header {
    display: block;
    background-color: transparent;
    padding: 24px 16px;
    position: static;
}

.card header p {
    font-size: 20px;
    font-weight: var(--text-weight);
}

.card header h3{
    font-size: 40px;
    font-weight: var(--title-weight);
    margin:8px 0 0;
}

.card header span{
    font-size: 32px;
    margin-top: 24px;
    display: inline-block;    
}

.card.japao{
    background-image: url('../img/bg-card-tokyo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card.sanandreas{
    background-image: url('../img/bg-card-sanandreas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card.paraiba{
    background-image: url('../img/bg-card-paraiba.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card.manaus{
    background-image: url('../img/bg-card-manaus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px){
    .offers-cards{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .card{
        width: 420px;
        height: 308px;
    }

    .card header h3{
    font-size: 48px;
    }

    .card header span{
    font-size: 40px;  
    }
    
}

@media screen and (min-width: 1440px) {
    .card{
        width: 588px;
    }
}

@media screen and (min-width: 1920px) {
    .offers-cards{
        width: 1250px;
        margin: 0 auto;
    }
    
}
