.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonial-container article header p{
    font-size: 16px;
    line-height: 20px;
}

.testimonial-container footer{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 8px;
    margin-bottom: 32px;
}

.testimonial-container footer img{
    width: 86px;
    height: 86px;
}

.testimonial-container footer .profile-content h3{
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--title-weight);
    margin: 0 0 8px;
}

.testimonial-container footer .profile-content .rating .stars{
    font-size: 32px;
    color: var(--secondary-color);
    line-height: 32px;
}

@media screen and (min-width: 1440px) {
    .testimonial-container{
        flex-direction: row;
    }
}